---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import LinkCard from "../components/LinkCard.astro";
import allPokemon from "../js/fetchPokemon";
---

<DefaultLayout title="Pokedex | Home">
  <main>
    <ul>
      {
        allPokemon.map((pokemon) => {
          return (
            <li>
              <LinkCard
                name={pokemon.name}
                link={"./" + pokemon.name}
                imgSrc={pokemon.sprites.front_default}
              />
            </li>
          );
        })
      }
    </ul>
  </main>
</DefaultLayout>

<style>
  h1 {
    margin-bottom: 30px;
    text-align: center;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(6, auto);
  }
  @media (max-width: 1200px) {
    ul {
      grid-template-columns: repeat(5, auto);
    }
  }
  @media (max-width: 1000px) {
    ul {
      grid-template-columns: repeat(4, auto);
    }
  }

  @media (max-width: 800px) {
    ul {
      grid-template-columns: repeat(3, auto);
    }
  }

  @media (max-width: 600px) {
    ul {
      grid-template-columns: repeat(2, auto);
    }
  }

  @media (max-width: 400px) {
    ul {
      grid-template-columns: repeat(1, auto);
    }
  }
</style>
