---
import "../css/color-palette.css";
---

<footer>
  <div>
    <p>
      This project is deployed from <a
        href="https://github.com/AlejandroJorge/pokedex">this</a
      > repo
    </p>
  </div>
</footer>

<style>
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 12.5vh;
    background-color: var(--darkest);
  }
  p {
    color: var(--lighter);
    font-size: 18px;
  }
  a {
    color: var(--dark);
  }
</style>
