---
import "../css/color-palette.css";
---

<footer>
  <div>
    <p>
      This project is deployed from <a
        target="_blank"
        href="https://github.com/AlejandroJorge/pokedex">this github repo</a
      >
    </p>
  </div>
</footer>

<style>
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 7.5vh;
    background-color: var(--darkest);
    padding: 10px;
  }
  p {
    color: var(--lighter);
    font-size: 18px;
    text-align: center;
  }
  a {
    color: var(--dark);
  }
</style>
